.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 1rem;
  justify-items: center;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  width: 100%;
  max-width: 220px;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  margin-bottom: 0.5rem;
}

.product-card h3 {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.product-card .price {
  font-weight: bold;
  color: #1773d4;
}

.product-card .stock {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  color: green;
}

.product-card button {
  padding: 0.5rem 1rem;
  background-color: #4f8dea;
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
}

.product-card button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.shimmer-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1rem;
  padding: 2rem;
}
.cart-section {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}
